<div class="box-form-login">




  <!-- Example Code -->

  <div class="container">
    <div class="row row-cols-2">
      <div class="col-6">
        <div class="p-3">


          <img class="login-img" src="login.gif" alt="imglogin">
        </div>
      </div>
      <div class="col-6 text-input-center">
        <div class="p-3">

          <div>
            <div class="mb-3">
              <!-- Thêm đoạn mã HTML để hiển thị chữ muỗi -->
              <div class="box-show-text-id">
                <p id="show-text-id">Login </p>

              </div>
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail"
                aria-describedby="emailHelp">
              <div id="login-email-err" class="form-text hiden-text-input">
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control"
                id="exampleInputPassword">
            </div>
            <div id="login-pass-err" class="form-text hiden-text-input">
            </div>
            <br/>
              <button type="submit" id="bnt-login" class="btn btn-primary">Đăng
                nhập</button>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- End Example Code -->

    <!-- Vertically centered modal -->
    <div class="modal fade" id="login-exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel" data-bs-backdrop="static"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng nhập</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body" id="login-modal-body">
            Tài khoản hặc mật khẩu không đúng
          </div>
          <div class="modal-footer">

            <button id="bnt-login-success" type="button" class="btn btn-primary"
              data-bs-dismiss="modal">Close</button>
            <button id="bnt-login-fail" type="button" class="btn
              btn-primary"
              data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Example Code -->


  </div>